src/wsdl/sisam.cptec.inpe.br/sisam_webservice/services/MesAnoWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sisam.cptec.inpe.br/sisam_webservice/services/MesAnoWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sisam.cptec.inpe.br/sisam_webservice/services/MesAnoWebService" xmlns:intf="http://sisam.cptec.inpe.br/sisam_webservice/services/MesAnoWebService" xmlns:tns1="http://webservice.sisam.dsa.inpe.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.sisam.dsa.inpe.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAnos">
    <complexType/>
   </element>
   <element name="getAnosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAnosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMeses">
    <complexType/>
   </element>
   <element name="getMesesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getMesesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMesesRequest">

      <wsdl:part element="tns1:getMeses" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAnosResponse">

      <wsdl:part element="tns1:getAnosResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getMesesResponse">

      <wsdl:part element="tns1:getMesesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAnosRequest">

      <wsdl:part element="tns1:getAnos" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="MesAnoService">

      <wsdl:operation name="getAnos">

         <wsdl:input message="impl:getAnosRequest" name="getAnosRequest"/>

         <wsdl:output message="impl:getAnosResponse" name="getAnosResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMeses">

         <wsdl:input message="impl:getMesesRequest" name="getMesesRequest"/>

         <wsdl:output message="impl:getMesesResponse" name="getMesesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MesAnoWebServiceSoapBinding" type="impl:MesAnoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAnos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAnosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMeses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMesesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMesesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MesAnoServiceService">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Lista meses e anos disponiveis para a consulta agregada  </wsdl:documentation>

      <wsdl:port binding="impl:MesAnoWebServiceSoapBinding" name="MesAnoWebService">

         <wsdlsoap:address location="http://sisam.cptec.inpe.br/sisam_webservice/services/MesAnoWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
